{% load staticfiles bxtags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bixin_jssdk.js' %}"></script>
    <script src="{% static 'js/bot.js' %}"></script>
</head>
</html>

<body>
  <div class="container">
    <div>
      <p>
        <h3> vendor name: {{ vendor_name }} </h3>
      </p>
      <div>
      <h5> JS SDK 相关(必须在币信App内打开才可以正常使用)</h5>
        <div class="list-group">
          <p>
            <li>
              <button id="open_scan" class="btn btn-info" onclick="open_scan()">调用扫码</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_chat" class="btn btn-primary" onclick="open_choose_contact()">选择联系人</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_chat" class="btn btn-success" onclick="open_chat('{{ user_target_id }}', 'private', '', '朋友你好，朋友再见')">打开聊天</button>打开target_id对应的user对话
            </li>
          </p>
          <p>
            <li>
              <button id="open_chat" class="btn btn-success" onclick="open_chat('{{ bot_target_id }}', 'group', '', '朋友你好，朋友再见')">打开聊天(发送消息给服务号)</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_chat" class="btn btn-success" onclick="open_chat('{{ bot_target_id }}', 'group', 'action_demo', '测试事件触发')">打开聊天(发送事件给服务号)</button>
            </li>
          </p>
          <p>
            <li>
              <button id="share_article" class="btn btn-success" onclick="share_article('{{share_url}}', '{{ bot_target_id }}', '{{ share_title }}', '{{ share_desc}}', '{{ share_image_url }}')">转发</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_pay" class="btn btn-warning" onclick="open_pay('{{ currency }}', '{{ btc_address }}', {{amount}}, '{{ category }}', 'hello pay demo')">打开支付demo1</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_pay" class="btn btn-warning" onclick="open_pay_with_order('{{ currency }}', '{{ btc_address }}', {{amount}}, '{{ category }}', 'hello pay demo', '{{ order_id }}', '{{ transfer_type }}')">打开支付demo2(携带商户自定义订单号)</button>
            </li>
          </p>
          <p>
            <li>
              <button id="open_pay" class="btn btn-warning" onclick="open_pay_with_order_args('{{ currency }}', '{{ btc_address }}', {{amount}}, '{{ category }}', 'hello pay demo', '{{ order_id }}', '{{ transfer_type }}', 'your-agrs')">打开支付demo2(携带商户自定义订单号和自定义参数)</button>
            </li>
          </p>

        </div>
      </div>
    </div>
  </div>

  <script>
    var vendor_name = "{{ vendor_name }}";
    var timestamp = {{ timestamp }};
    var nonce = "{{ nonce }}";
    var sign = "{{ sign }}";
    var callback = "{{ url }}";
  </script>
</body>
